html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-image: url('video.mp4'); /* Replace with your actual sky background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fix the background */
}

.navigation-bar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 15px;
}

.navigation-bar a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

h1 {
    position: fixed; /* Keep the header fixed as well */
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px; /* Adjust padding to position your title */
    color: white;
    z-index: 100; /* Ensure it's above other elements */
}

.portfolio {
    position: fixed;
    top: 60px; /* Start below your fixed header/navigation */
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto; /* Enable scrolling for this element */
    margin: 0 auto;
    width: 80%;
    z-index: 50; /* Below fixed elements, above the background */
}

.year {
    font-size: 36px;
    margin: 20px 0;
    text-align: center;
    color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.gallery img {
    width: calc(33.333% - 10px);
    height: auto;
}

@media (max-width: 600px) {
    .gallery img {
        width: calc(50% - 10px);
    }
}
