video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
}
.navigation-bar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
}

.navigation-bar a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  z-index: 2;
}
.navigation-bar a:hover {
  color: #0f0;
  z-index: 3;
}
 .carousel__card {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid white;
  border-radius: 0.2rem;
  font-size: 3em;
  font-weight: 700;
}
.carousel__img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
  .carousel__card:nth-child(1) {
  transform: rotateY(0deg) translateZ(25rem);
}
.carousel__card:nth-child(2) {
  transform: rotateY(45deg) translateZ(25rem);
}
.carousel__card:nth-child(3) {
  transform: rotateY(90deg) translateZ(25rem);
}
.carousel__card:nth-child(4) {
  transform: rotateY(135deg) translateZ(25rem);
}
